*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */ 

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 189, 197);
    position: sticky;
    top: 0;
     
}
 
.nav-bar ul{
    display: flex;
    list-style: none;
    margin: 20px 0;
}

.nav-bar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}
.nav-bar ul li a:hover{
    background-color: rgb(216, 206, 206);
    color: black;
    box-shadow: rgb(192, 180, 180);
}

#home {
    display: flex;
    flex-direction: column;  
    height: 840px;
    justify-content: center;
    align-items: center;
    color: rgb(38, 104, 143);

}

#_home {
    display: flex;
    flex-direction: column;  
    background-color: rgb(150, 149, 148);
    background-image: url();
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url();
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .9;
}

.main {
    display: flex;
    flex-direction: column;
    border: 1px whitesmoke;
    align-items: center;
    background-image: url(C:\Users\pc\Desktop\MyPortfolio\image2.JPG);
}
.main h1 h3{
    font-size: larger;
}

/*  from the last project  START */

.container {
    max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#image{
    background-image: url(Desktop\MyPortfolio\image2.JPG);
}

.detail-body {
   
}

.detail-container {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.detail-item {
    width: 50%;
}


/* detail */
.detail-item_info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.detail-item_info h2 {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
}

.detail-item_info p {
    font-size: 18px;
    line-height: 1.3;
}

/* end detail */


/* END */



/* colors */
.icon{
    margin-left: 40px;
}
h5 p{
    margin-left: 20px;
    margin-top: 10px;
}